

@media (max-width: 390px) {

    body {
        display: flex;
        padding: 32px;
    }
  
    .logo {
        display: none;
    }



    
    .container {
        /*
        display: flex;
        flex-direction: column;
        */

     & #form {


        & .input-group {
            width: 290px;
            display: flex;
            flex-direction: column;
        }

        & .btn {
            width: 290px;
            
        }


     
    }
    }

   /* ul e listas*/
    & #ul-list  {
        gap: 12px;

    & li {
        width: 290px;
        margin-bottom: 16px;

        position: relative;
        & a {
            display: flex;
            position: absolute;
            right: 12px;
            
        }

      }
}


    /* div de alerta */

   &  .alert-popup  {

        display: flex;
        width: 290px;
        padding: 12px;
        align-items: flex-start;
        gap: var(--spacing-spacing-2, 8px);
       
        opacity: 1;
     
        font-size: 16px;

        margin-top: 30px;

    }
    /**/
}