



/* responsivo 630 */

@media (max-width: 600px) {
    main {
        padding: 32px 34px
    }
 
    .logo {
        max-width: 180px;
        margin-block: 24px;
    }


   .container {

    .input-group {
        flex-direction: column;
        gap: 10px;

        & #add-item {
            width: 100%;
        }
    }

    }


    ul {
        margin-top: 24px;
        gap: 8px;
    }

    }
    ul li a {

        right: 5px;
    }





@media (max-width: 340px) {

    body {
        display: flex;
        padding: 15px;
    }
  
    .logo {
        display: none;
    }



    
    .container {
        /*
        display: flex;
        flex-direction: column;
        */

     & #form {


        & .input-group {
            width: 290px;
            display: flex;
            flex-direction: column;
        }

        & .btn {
            width: 290px;
            
        }


     
    }
    }

   /* ul e listas*/
    & #ul-list  {
        gap: 12px;

    & li {
        width: 290px;
        margin-bottom: 16px;

        position: relative;
        & a {
            display: flex;
            position: absolute;
            right: 12px;
            
        }

      }
}


    /* div de alerta */

   &  .alert-popup  {

        display: flex;
        width: 290px;
        padding: 12px;
        align-items: flex-start;
        gap: var(--spacing-spacing-2, 8px);
       
        opacity: 1;
     
        font-size: 16px;

        margin-top: 30px;

    }
    /**/
}