

header {
    position: relative;
    & .logo{
        margin: 0 auto;
        width: 300px;
        margin-block: 62px;
    & img {
            width: 100%;
        }
    }

    & .back {
        display: flex;
        align-items: center;
        color: var(--color-brand);
        margin-bottom: 16px; ;

        a {
            padding-left: 5px;
            font: var(--font-link);
        }
        i {
            font-size: 20px;
        }
    }

    
        & h2 {
            font: var(--font-title);
            color: var(--content-primary);

            margin-bottom: 45px;
        }
    }




